<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@4.6.3/papaparse.min.js"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>SMARTool</title>
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="container">

        <div class="row top-buffer">

          <div class="col-md-2">
            <h2>SMARTool</h2>
          </div>

          <div class="col-md-10">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link show active" data-toggle="tab" href="#by_topic">Search by topic</a>
              </li>
              <li class="nav-item">
                <a class="nav-link show" data-toggle="tab" href="#by_analysis">Search by analysis</a>
              </li>
              <li class="nav-item">
                <a class="nav-link show" data-toggle="tab" href="#by_word">Search by dictionary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link show" data-toggle="modal" href="#abbreviations_modal">List of abbreviations</a>
              </li>
            </ul>
          </div>

        </div>

        <div class="row top-buffer">

          <div class="col-md-2">
            <label>Level</label>
            <select v-model="level" class="form-control">
              <option v-for="level in levels">
                {{ level }}
              </option>
            </select>
          </div>

          <div class="col-md-10">
            <div id="tab_content" class="tab-content">
              <div class="tab-pane fade active show" id="by_topic">
                <label>Topic</label>
                <select v-model="topic" class="form-control" v-on:click="select_mode('by_topic')">
                  <option v-for="topic in topics" :value="topic">
                    {{ topic }} ({{ translate_topic(topic) }})
                  </option>
                </select>
              </div>
              <div class="tab-pane fade" id="by_analysis">
                <label>Analysis</label>
                <select v-model="analysis" class="form-control" v-on:click="select_mode('by_analysis')">
                  <option v-for="analysis in analyses">
                    {{ analysis }}
                  </option>
                </select>
              </div>
              <div class="tab-pane fade" id="by_word">
                <label>Word</label>
                <select v-model="word" class="form-control" v-on:click="select_mode('by_word')">
                  <option v-for="word in words_by_level" :value="word">
                    {{ word }} ({{ translate_word(word) }})
                  </option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <div v-if="mode == 'by_topic'">
          <div class="row top-buffer">
            <div class="col-md-12">
              <span v-if="num_words > 1">
                <span class="fa fa-arrow-circle-left fa-2x" style="color: #04962b;" v-on:click="previous_word"></span>
                <span class="fa fa-arrow-circle-right fa-2x" style="color: #04962b;" v-on:click="next_word"></span>
              </span>
              &nbsp;
              &nbsp;
              <h1 style="display: inline-block;">{{ words_by_level_topic[counter] }}</h1>
            </div>
          </div>
        </div>

        <div class="row top-buffer">
          <div class="col-md-12">
            <input type="checkbox"
                   id="translation"
                   v-model="show_translation">
            <label for="translation">Show translation</label>
            &nbsp;
            &nbsp;
            <input type="radio" id="male" value="Male" v-model="voice">
            <label for="male">male voice</label>
            <input type="radio" id="female" value="Female" v-model="voice">
            <label for="female">female voice</label>
          </div>
        </div>

        <div v-for="sentence in sentences">
          <div class="row top-buffer">
            <div class="col-md-12">
              <div v-html="sentence_with_emphasis(sentence[0], sentence[2])"
                   style="display: inline"> </div>
                &nbsp;
              ({{ sentence[3] }} <span class="fa fa-question-circle"
                                       data-toggle="tooltip"
                                       v-bind:title="analysis_spellout(sentence[3])"></span>)
              &nbsp;
              <span class="fa fa-volume-up fa-2x" style="color: #04962b;" v-on:click="play_voice(sentence[0])"></span>
              <div v-if="show_translation">
                <i>{{ sentence[1] }}</i>
              </div>
              <div v-else>
                &nbsp;
              </div>
            </div>
          </div>
        </div>

        <div class="row top-buffer bottom-buffer">
          <div class="col-md-12">
            <img src="img/siu.jpg" alt="SIU logo" height="90px">
            <img src="img/uit.png" alt="UiT logo" height="80px">
            <img src="img/hse.jpg" alt="HSE logo" height="90px">
          </div>
        </div>

        <!-- list of abbreviations -->
        <div class="modal fade" id="abbreviations_modal" tabindex="-1" role="dialog" aria-labelledby="abbreviations_modal_label" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="abbreviations_modal_label">List of abbreviations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table>
                  <tr v-for="(spellout, abbreviation) in map_abbreviation_to_spellout">
                    <td>{{ abbreviation }}</td>
                    <td>{{ spellout }}</td>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <script src="js/app.js"></script>
  </body>
</html>
