<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- latest compiled and minified css -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="papaparse-4.6.0.min.js"></script>

    <style>
      body {
        font-family: 'Open Sans';
        font-size: 16px;
      }
      input[type="text"], textarea {
        background-color: #99eeff;
      }
      .top-buffer { margin-top: 30px; }
    </style>

    <!-- https://vuejs.org/v2/api/#v-cloak -->
    <style>
      [v-cloak] {
        display: none;
      }
    </style>

    <title>twirll-prototype!</title>
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="container">

        <div class="row top-buffer">
          <div class="col-md-1">
            <label>Level</label>
            <select v-model="level" class="form-control">
              <option v-for="level in levels">
                {{ level }}
              </option>
            </select>
          </div>

          <div class="col-md-6">
            <label>Topic</label>
            <select v-model="topic" class="form-control">
              <option v-for="topic in topics">
                {{ topic }}
              </option>
            </select>
          </div>
        </div>

        <div class="row top-buffer">
          <div class="col-md-12">
            <h1>{{ words[counter] }}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div v-if="num_words > 1">
              <button v-on:click="next_word" type="button" class="btn-xs btn-success">Next word</button>
              &nbsp;
              &nbsp;
              <input type="checkbox"
                     v-model="show_translation">
              Show translation
            </div>
          </div>
        </div>

        <div v-for="sentence in sentences">
          <div class="row top-buffer">
            <div class="col-md-12">
              {{ sentence[0] }}
              <div v-if="show_translation">
                <i>{{ sentence[1] }}</i>
              </div>
              <div v-else>
                &nbsp;
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="app.js"></script>
  </body>
</html>
